{% extends 'template.html' %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<form action="/user" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="number" name="password" placeholder="Password">
    <input type="submit" value="Save">
</form>

<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>inv_code</th>
        <th>customer</th>
        <th>customer_id</th>
        <th>Username</th>
        <th>amount</th>
        <th>discount</th>
        <th>pure_price</th>
        <th>status</th>
        <th>date_time</th>
        <th>description</th>

    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td>{{user.code}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.password}}</td>
        <td>
            <button onclick="edit({{user.code}})">Edit</button>
            <button onclick="remove({{{{user.code}}}})">Remove</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}